@import "styles/base";

.password-manager {
  width: 70%;
  margin: 20px;
  padding: 20px;
  color: $secondary-color;
  background-color: white;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 5px;
}