@import "styles/base.scss";

.password-form {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__password {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
  }
  &__error {
    color: red;
  }
  &__input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid $terciary-color;
    border-radius: 4px;
    min-width: 280px;
  }
  &__input-with-icon {
    position: relative;
  }
  &__input-icon {
    position: absolute;
    right: 9px;
    top: 17px;
  }
  &__hint {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
}