@import "styles/base";


.stepper-buttons {
  display: flex;
  flex-wrap:'wrap';
  border-top: 1px solid $terciary-color;
  margin: 20px -20px 0 -20px;
  padding: 20px 10px 0 10px;
}

.stepper-buttons__space-between {
  justify-content: space-between;
}
.stepper-buttons__end {
  justify-content: flex-end;
}